# dependencies
node_modules/

# production
dist/
build/

# environment
.env
.env.*  # optional: ignore all environment variants like .env.dev

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# system
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# tests
coverage/

# misc
*.log
