.images{
   
    height: 160px !important;
    margin-top: 15px;
}
.card{
    border: 0;
    cursor: pointer;
    height: 240px;
    transition: all 0.5s;
}
.card:hover 
{
    background-color: rgb(211, 210, 210);
}
.card:hover .text
{
    color: rgb(220, 53, 69);
}
.text{
    
    text-align: center;
    transition: all 0.5s;
    text-decoration: none;
}
.link
{
    text-decoration: none;
    color: black;
}