.container{
    display:block;
    margin-top: 20px;
    margin-right: 25px;
    margin:25px;
    
   
}
.sliders{
    width:100%;
    min-height: 100px;
    height:500px;
    border-radius: 10px;
    
}