.container{
    display:block;
    margin-top: 20px;
    margin-right: 30px;
    margin:30px;
    
   
}
.sliders{
    width:100%;
    min-height: 100px;
    height:450px;
    border-radius: 10px;
    
}