* {
    font-family: 'Times New Roman', Times, serif;
}

.img {
    width: 40%;
    height: 180px;
    float: right;
    @media (max-width: 768px) {
        float: none; 
        display: block;
        margin: 0 auto; 
    }
}

.cont {
    padding: 30px;
    border-radius: 80px;
    color: white;
    background-color: rgb(6, 86, 86);
}

.first {
    position: relative;
}

.firstCont {
    margin: 20px;
    
    @media (max-width: 768px) {
        text-align: center; 
    }
}

.button {
    color: rgb(6, 86, 86);
    font-weight: bolder;
}
